## importation des modules

In [183]:
import pandas as pd
import numpy as np

## Importation du DF à encoder

In [184]:
#lecture de la DF
df = pd.read_table('movie.csv', sep=',')
df

,movie,years,imdb,genre,votes,metascore
0,Logan,(2017),8.1,"Action, Drama, Sci-Fi",603294,77
1,Thor: Ragnarok,(2017),7.9,"Action, Adventure, Comedy",536979,74
2,Star Wars: Episode VIII - The Last Jedi,(2017),7.0,"Action, Adventure, Fantasy",527314,85
3,Guardians of the Galaxy Vol. 2,(2017),7.6,"Action, Adventure, Comedy",527257,67
4,Wonder Woman,(2017),7.4,"Action, Adventure, Fantasy",519811,76
...,...,...,...,...,...,...
3916,Outlaw King,(2018),6.9,"Action, Biography, Drama",52776,59
3917,Sorry to Bother You,(2018),6.9,"Comedy, Fantasy, Sci-Fi",52007,80
3918,Mowgli: Legend of the Jungle,(2018),6.5,"Adventure, Drama, Fantasy",51622,51
3919,Suspiria,(I) (2018),6.8,"Fantasy, Horror, Mystery",51034,64
3920,Fifty Shades Freed,(2018),4.5,"Drama, Romance, Thriller",49484,31

## Mettre tous les genres dans différentes colonnes

In [185]:
df['liste_genre']= df['genre'].str.split(',')
df

,movie,years,imdb,genre,votes,metascore,liste_genre
0,Logan,(2017),8.1,"Action, Drama, Sci-Fi",603294,77,"[Action, Drama, Sci-Fi]"
1,Thor: Ragnarok,(2017),7.9,"Action, Adventure, Comedy",536979,74,"[Action, Adventure, Comedy]"
2,Star Wars: Episode VIII - The Last Jedi,(2017),7.0,"Action, Adventure, Fantasy",527314,85,"[Action, Adventure, Fantasy]"
3,Guardians of the Galaxy Vol. 2,(2017),7.6,"Action, Adventure, Comedy",527257,67,"[Action, Adventure, Comedy]"
4,Wonder Woman,(2017),7.4,"Action, Adventure, Fantasy",519811,76,"[Action, Adventure, Fantasy]"
...,...,...,...,...,...,...,...
3916,Outlaw King,(2018),6.9,"Action, Biography, Drama",52776,59,"[Action, Biography, Drama]"
3917,Sorry to Bother You,(2018),6.9,"Comedy, Fantasy, Sci-Fi",52007,80,"[Comedy, Fantasy, Sci-Fi]"
3918,Mowgli: Legend of the Jungle,(2018),6.5,"Adventure, Drama, Fantasy",51622,51,"[Adventure, Drama, Fantasy]"
3919,Suspiria,(I) (2018),6.8,"Fantasy, Horror, Mystery",51034,64,"[Fantasy, Horror, Mystery]"
3920,Fifty Shades Freed,(2018),4.5,"Drama, Romance, Thriller",49484,31,"[Drama, Romance, Thriller]"

In [186]:
def check_genre(nom_genre, x):
    if nom_genre in x :
        return 1
    else: 
        return 0 
check_genre("Drama","Adventude, Fantasy")

0

In [187]:
df["Action"] = df["genre"].apply( lambda x: check_genre("Action", x))
df["Drama"] = df["genre"].apply( lambda x: check_genre("Drama", x))
df["Sci-Fi"] = df["genre"].apply( lambda x: check_genre("Sci-Fi", x))
df["Advendture"] = df["genre"].apply( lambda x: check_genre("Adventure", x))
df["Fantasy"] = df["genre"].apply( lambda x: check_genre("Fantasy", x))
df["Comedy"] = df["genre"].apply( lambda x: check_genre("Comedy", x))
df["History"] = df["genre"].apply( lambda x: check_genre("History", x))
df["Horror"] = df["genre"].apply( lambda x: check_genre("Horror", x))
df["Mystery"] = df["genre"].apply( lambda x: check_genre("Mystery", x))
df["Thriller"] = df["genre"].apply( lambda x: check_genre("Thriller", x))
df["Crime"] = df["genre"].apply( lambda x: check_genre("Crime", x))
df["Animation"] = df["genre"].apply( lambda x: check_genre("Animation", x))
df["Family"] = df["genre"].apply( lambda x: check_genre("Family", x))
df["Musical"] = df["genre"].apply( lambda x: check_genre("Musical", x))
df["Romance"] = df["genre"].apply( lambda x: check_genre("Romance", x))
df["Sport"] = df["genre"].apply( lambda x: check_genre("Sport", x))
df["Biography"] = df["genre"].apply( lambda x: check_genre("Biography", x))
df["Music"] = df["genre"].apply( lambda x: check_genre("Music", x))
df["Western"] = df["genre"].apply( lambda x: check_genre("Western", x))

df

,movie,years,imdb,genre,votes,metascore,liste_genre,Action,Drama,Sci-Fi,...,Thriller,Crime,Animation,Family,Musical,Romance,Sport,Biography,Music,Western
0,Logan,(2017),8.1,"Action, Drama, Sci-Fi",603294,77,"[Action, Drama, Sci-Fi]",1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Thor: Ragnarok,(2017),7.9,"Action, Adventure, Comedy",536979,74,"[Action, Adventure, Comedy]",1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Star Wars: Episode VIII - The Last Jedi,(2017),7.0,"Action, Adventure, Fantasy",527314,85,"[Action, Adventure, Fantasy]",1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Guardians of the Galaxy Vol. 2,(2017),7.6,"Action, Adventure, Comedy",527257,67,"[Action, Adventure, Comedy]",1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Wonder Woman,(2017),7.4,"Action, Adventure, Fantasy",519811,76,"[Action, Adventure, Fantasy]",1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3916,Outlaw King,(2018),6.9,"Action, Biography, Drama",52776,59,"[Action, Biography, Drama]",1,1,0,...,0,0,0,0,0,0,0,1,0,0
3917,Sorry to Bother You,(2018),6.9,"Comedy, Fantasy, Sci-Fi",52007,80,"[Comedy, Fantasy, Sci-Fi]",0,0,1,...,0,0,0,0,0,0,0,0,0,0
3918,Mowgli: Legend of the Jungle,(2018),6.5,"Adventure, Drama, Fantasy",51622,51,"[Adventure, Drama, Fantasy]",0,1,0,...,0,0,0,0,0,0,0,0,0,0
3919,Suspiria,(I) (2018),6.8,"Fantasy, Horror, Mystery",51034,64,"[Fantasy, Horror, Mystery]",0,0,0,...,0,0,0,0,0,0,0,0,0,0
3920,Fifty Shades Freed,(2018),4.5,"Drama, Romance, Thriller",49484,31,"[Drama, Romance, Thriller]",0,1,0,...,1,0,0,0,0,1,0,0,0,0

## Séparer l'imdb en 2 parties. 

Cette séparation servira pour le machine learning afin d'obtenir que 2 catégories (les films à succès >7 et les autres <6)

In [188]:
def check_imdb(i,x):
    if i <= x : 
        return 1
    else: 
        return 0 
check_imdb(7,8)

1

In [197]:
df["imdb_encoding"] = df["imdb"].apply( lambda x: check_imdb(7, x))
df

,movie,years,imdb,genre,votes,metascore,liste_genre,Action,Drama,Sci-Fi,...,Crime,Animation,Family,Musical,Romance,Sport,Biography,Music,Western,imdb_encoding
0,Logan,(2017),8.1,"Action, Drama, Sci-Fi",603294,77,"[Action, Drama, Sci-Fi]",1,1,1,...,0,0,0,0,0,0,0,0,0,1
1,Thor: Ragnarok,(2017),7.9,"Action, Adventure, Comedy",536979,74,"[Action, Adventure, Comedy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Star Wars: Episode VIII - The Last Jedi,(2017),7.0,"Action, Adventure, Fantasy",527314,85,"[Action, Adventure, Fantasy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Guardians of the Galaxy Vol. 2,(2017),7.6,"Action, Adventure, Comedy",527257,67,"[Action, Adventure, Comedy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Wonder Woman,(2017),7.4,"Action, Adventure, Fantasy",519811,76,"[Action, Adventure, Fantasy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3916,Outlaw King,(2018),6.9,"Action, Biography, Drama",52776,59,"[Action, Biography, Drama]",1,1,0,...,0,0,0,0,0,0,1,0,0,0
3917,Sorry to Bother You,(2018),6.9,"Comedy, Fantasy, Sci-Fi",52007,80,"[Comedy, Fantasy, Sci-Fi]",0,0,1,...,0,0,0,0,0,0,0,0,0,0
3918,Mowgli: Legend of the Jungle,(2018),6.5,"Adventure, Drama, Fantasy",51622,51,"[Adventure, Drama, Fantasy]",0,1,0,...,0,0,0,0,0,0,0,0,0,0
3919,Suspiria,(I) (2018),6.8,"Fantasy, Horror, Mystery",51034,64,"[Fantasy, Horror, Mystery]",0,0,0,...,0,0,0,0,0,0,0,0,0,0
3920,Fifty Shades Freed,(2018),4.5,"Drama, Romance, Thriller",49484,31,"[Drama, Romance, Thriller]",0,1,0,...,0,0,0,0,1,0,0,0,0,0

## Créer l'encodage du DF movie

In [198]:
import copy
df_encoding = df.copy()

In [199]:
df_encoding

,movie,years,imdb,genre,votes,metascore,liste_genre,Action,Drama,Sci-Fi,...,Crime,Animation,Family,Musical,Romance,Sport,Biography,Music,Western,imdb_encoding
0,Logan,(2017),8.1,"Action, Drama, Sci-Fi",603294,77,"[Action, Drama, Sci-Fi]",1,1,1,...,0,0,0,0,0,0,0,0,0,1
1,Thor: Ragnarok,(2017),7.9,"Action, Adventure, Comedy",536979,74,"[Action, Adventure, Comedy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Star Wars: Episode VIII - The Last Jedi,(2017),7.0,"Action, Adventure, Fantasy",527314,85,"[Action, Adventure, Fantasy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Guardians of the Galaxy Vol. 2,(2017),7.6,"Action, Adventure, Comedy",527257,67,"[Action, Adventure, Comedy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Wonder Woman,(2017),7.4,"Action, Adventure, Fantasy",519811,76,"[Action, Adventure, Fantasy]",1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3916,Outlaw King,(2018),6.9,"Action, Biography, Drama",52776,59,"[Action, Biography, Drama]",1,1,0,...,0,0,0,0,0,0,1,0,0,0
3917,Sorry to Bother You,(2018),6.9,"Comedy, Fantasy, Sci-Fi",52007,80,"[Comedy, Fantasy, Sci-Fi]",0,0,1,...,0,0,0,0,0,0,0,0,0,0
3918,Mowgli: Legend of the Jungle,(2018),6.5,"Adventure, Drama, Fantasy",51622,51,"[Adventure, Drama, Fantasy]",0,1,0,...,0,0,0,0,0,0,0,0,0,0
3919,Suspiria,(I) (2018),6.8,"Fantasy, Horror, Mystery",51034,64,"[Fantasy, Horror, Mystery]",0,0,0,...,0,0,0,0,0,0,0,0,0,0
3920,Fifty Shades Freed,(2018),4.5,"Drama, Romance, Thriller",49484,31,"[Drama, Romance, Thriller]",0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [200]:
df_encoding = df_encoding.drop(['years','movie','genre','liste_genre','imdb'], axis=1)
df_encoding

,votes,metascore,Action,Drama,Sci-Fi,Advendture,Fantasy,Comedy,History,Horror,...,Crime,Animation,Family,Musical,Romance,Sport,Biography,Music,Western,imdb_encoding
0,603294,77,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,536979,74,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,527314,85,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,527257,67,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,519811,76,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3916,52776,59,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3917,52007,80,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3918,51622,51,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3919,51034,64,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3920,49484,31,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [201]:
df_encoding = pd.get_dummies(df_encoding)
df_encoding

,votes,metascore,Action,Drama,Sci-Fi,Advendture,Fantasy,Comedy,History,Horror,...,Crime,Animation,Family,Musical,Romance,Sport,Biography,Music,Western,imdb_encoding
0,603294,77,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,536979,74,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,527314,85,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,527257,67,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,519811,76,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3916,52776,59,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3917,52007,80,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3918,51622,51,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3919,51034,64,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3920,49484,31,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [195]:
df_encoding

,votes,metascore,Action,Drama,Sci-Fi,Advendture,Fantasy,Comedy,History,Horror,...,Crime,Animation,Family,Musical,Romance,Sport,Biography,Music,Western,imdb_encoding
0,603294,77,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,536979,74,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,527314,85,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,527257,67,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,519811,76,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3916,52776,59,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3917,52007,80,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3918,51622,51,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3919,51034,64,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3920,49484,31,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

## Téléchager le fichier en csv

In [202]:
df_encoding.to_csv('movie_encoding.csv', sep = ';')